* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
/* 
.container {
  border: 2px solid rgb(220, 14, 14);
  display: flex; */
  /* flex-direction: column-reverse; */
  /*row, row-reverse, column, column-reverse*/
  /* width: 500px;
  flex-wrap: wrap;
} */
/* 
.child {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 25px;
  background-color: black;
  margin: 10px;
} */ 
/* 
.child:nth-child(1) {background-color: brown;}
.child:nth-child(2) {background-color: rgb(116, 165, 42);}
.child:nth-child(3) {background-color: rgb(42, 165, 165);}
.child:nth-child(4) {background-color: rgb(165, 42, 147);}
.child:nth-child(5) {background-color: rgb(15, 13, 13);} */


.container {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  height: 100px;
  width: 100px;
  background-color: red;
}